$main-color-light: #8eddde;
$main-color-dark: #75c2c3;
$font-color-dark: #4e5861;
$header-color-dark: #36434f;

$xl: 1499px;
$lg: 1299px;
$mdplus: 1199px;
$md: 991px;
$sm: 767px;
$xs: 575px;
$xxs: 359px;
