.excavators {
  @include dflex(nowrap, row, flex-end, flex-start);
  padding-bottom: 260px;
}

.excavators__controls {
  @include dflex(nowrap, row, flex-end, flex-start);
}

.excavators__details-wrapper {
  // display: none;
  flex-basis: 308px;
  margin-top: 57px;
  margin-right: 63px;

  &--active {
    // display: block;
  }
}

.excavators__details {
  @include dflex(nowrap, column, flex-start, flex-start);
  position: relative;
}

.excavators__big-img {
  position: absolute;
  top: 50%;
  right: calc(100% + 45px);
  width: 580px;
  height: 500px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
  z-index: 1;
}

.excavators__excavator-title {
  @include reset;
  max-width: 100%;
  margin-bottom: 22px;
  font-weight: bold;
  font-size: 22px;
  line-height: calc(106% + 10px);
  color: #fff;
}

.excavators__excavator-props {
  @include dflex(nowrap, row, space-between, flex-start);
  width: 100%;
  margin-bottom: 15px;
}

.excavators__prop {
  @include dflex(nowrap, column, flex-start, center);
  @include reset;
}

.excavators__prop-value {
  margin-bottom: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  line-height: normal;
}

.excavators__prop-name {
  color: #fff;
  font-size: 13px;
  line-height: normal;
}

.excavators__availability-wrapper {
  @include dflex(nowrap, row, space-between, flex-start);
}

.excavators__excavator-availability {
  @include dflex(nowrap, row, center, center);
  margin-bottom: 18px;
  padding: 10px;
  background-color: $header-color-dark;
  border-radius: 5px;
}

.excavators__excavator-status {
  position: relative;
  padding-left: 12px;
  font-weight: 600;
  font-size: 10px;
  line-height: normal;
  text-transform: uppercase;

  &::before {
    @include abs-pseudo;
    top: 50%;
    left: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  &--available {
    color: #64DC06;

    &::before {
      background-color: #64DC06;
    }
  }

  &--unavailable {
    color: #c24034;

    &::before {
      background-color: #c24034;
    }
  }
}

.excavators__excavator-availability--unavailable .excavators__excavator-status--available,
.excavators__excavator-availability--available .excavators__excavator-status--unavailable {
  display: none;
}

.excavators__manual-download {
  position: relative;
  display: inline-block;
  max-width: 130px;
  margin-bottom: 15px;
  margin-left: 20px;
  padding-right: 30px;
  color: #fff;
  font-size: 13px;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &::after {
    @include abs-pseudo;
    top: 50%;
    right: 0;
    width: 20px;
    height: 100%;
    background-image: url("../img/icon-download.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: translateY(-50%);
  }
}

.excavators__modal-trigger {
  @include dflex(nowrap, row, center, center);
  padding: 15px 40px;
}

.excavators__list {
  @include list-reset;
  @include dflex(nowrap, column, flex-start, flex-start);
}

.excavators__item {
  width: 320px;
  height: 100px;
  border-radius: 5px;
  overflow: hidden;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.excavators__item-link {
  @include dflex(nowrap, row, flex-start, center);
  @include transition();
  width: 100%;
  height: 100%;
  padding-left: 125px;
  font-size: 14px;
  line-height: 25px;
  color: #4E5861;
  font-weight: bold;
  background-color: #fff;
  background-size: 95px auto;
  background-position: left 15px center;
  background-repeat: no-repeat;
  outline: none;

  &--active {
    color: #fff;
    background-color: $header-color-dark;
  }

  &:not(.excavators__item-link--active):hover,
  &:not(.excavators__item-link--active):focus {
    color: #fff;
    background-color: $font-color-dark;
  }
}

.excavators__back-btn {
  display: none;
}

.excavators__note {
  @include reset;
  margin-top: 15px;
  font-size: 13px;
  color: #fff;
  // font-style: italic;
}

@media (max-width: $xl) {
  .excavators__details-wrapper {
    margin-right: 50px;
  }

  .excavators__big-img {
    right: calc(100% + 35px);
    width: 545px;
    height: 545px;
  }
}

@media (max-width: $lg) {
  .excavators {
    padding-bottom: 160px;
  }

  .excavators__controls {
    justify-content: center;
    width: 100%;
    padding-left: 400px;
  }

  .excavators__details-wrapper {
    flex-basis: 275px;
    margin: 0;
  }

  .excavators__excavator-title {
    font-size: 20px;
    line-height: calc(106% + 5px);
  }

  .excavators__excavator-props {
    flex-direction: column;
    align-items: center;
    width: 100px;
  }

  .excavators__prop {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .excavators__list {
    flex-basis: 300px;
  }

  .excavators__item {
    width: 100%;
  }

  .excavators__item-link {
    padding-left: 110px;
    font-size: 13px;
    line-height: 22px;
    background-size: 90px auto;
    background-position: left 10px center;
  }

  .excavators__big-img {
    // right: 100%;
    right: calc(100% + 20px);
    width: 385px;
    height: 385px;
  }
}

@media (max-width: $md) {
  .excavators {
    padding-bottom: 0;
  }

  .excavators__controls {
    flex-direction: column;
    align-items: flex-end;
    padding-left: 0;
  }

  .excavators__details {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 50px;
  }

  .excavators__excavator-title {
    // order: 0;
    flex-basis: auto;
    max-width: 250px;
    margin-bottom: 15px;
    text-align: right;
  }

  .excavators__availability-wrapper {
    // position: absolute;
    // left: 260px;
    // top: -3px;
    // order: 1;
    // flex-basis: 100%;
    margin-bottom: 15px;
  }

  .excavators__excavator-availability {
    width: 100px;
    min-width: 100px;
    margin-bottom: 0;

    &--unavailable {
      width: 120px;
    }
  }

  .excavators__details-wrapper {
    flex-basis: auto;
    align-self: center;
    width: 100%;
  }

  .excavators__big-img {
    top: calc(50% - 30px);
    right: auto;
    left: 36%;
    width: 350px;
    height: 305px;
    transform: translate(-50%, -50%);
  }

  .excavators__excavator-props {
    align-items: flex-start;
    flex-direction: row;
    flex-basis: auto;
    margin-bottom: 15px;
    width: auto;
  }

  .excavators__prop {
    align-items: center;

    &:not(:last-child) {
      margin-right: 10px;
      margin-bottom: 0;
    }
  }

  .excavators__list {
    position: relative;
    top: 45px;
    flex-direction: row;
    flex-basis: auto;
    width: 100%;
    margin-bottom: 20px;
  }

  .excavators__item {
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  .excavators__item-link {
    padding-right: 10px;
  }

  .excavators__note {
    position: relative;
    top: 20px;
  }
}

@media (max-width: $sm) {
  // .excavators {
  //   overflow-x: hidden;
  // }

  .excavators__controls {
    @include transition(left);
    position: relative;
    left: calc(200% + 40px);
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    width: 300vw;
    min-height: 400px;
    margin-right: -10px;
    margin-left: -10px;

    &--center {
      left: calc(100% + 20px);
    }

    &--right {
      left: 0;
    }
  }

  .excavators__details-wrapper {
    align-self: stretch;
    width: calc(100vw - 20px);
    margin: 0 10px;
  }

  .excavators__details {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 0;
  }

  .excavators__big-img {
    top: auto;
    bottom: 85px;
    left: 50%;
    width: 420px;
    height: 300px;
    background-position: center;
    transform: translateX(-50%);
  }

  .excavators__excavator-title {
    flex-basis: auto;
    text-align: center;
  }

  .excavators__availability-wrapper {
    position: static;
    flex-basis: 100%;
    margin-left: 164px;
  }

  .excavators__excavator-props {
    flex-basis: auto;
  }

  .excavators__list {
    position: static;
    flex-direction: column;
    width: calc(100vw - 20px);
    margin: 0 10px 35px;
  }

  .excavators__item-link {
    padding-left: calc(50% - 15px);
    background-position: calc(50% - 85px) center;

    &:not(.excavators__item-link--active) {
      &:hover,
      &:focus {
        color: $font-color-dark;
        background-color: #fff;
      }
    }

    &--active {
      color: $font-color-dark;
      background-color: #fff;
    }
  }

  .excavators__trigger-wrapper {
    @include dflex(nowrap, row, center, center);
    width: 100%;
  }

  .excavators__trigger-wrapper .btn {
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 1;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  .excavators__back-btn {
    display: flex;
  }

  .excavators__note {
    display: none;
  }

  .excavators__manual-download {
    display: none;
  }
}

@media (max-width: $xs) {
  .excavators__details {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .excavators__list {
    margin-bottom: 105px;
  }

  .excavators__item {
    height: 85px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .excavators__excavator-title {
    flex-basis: 100%;
    max-width: 100%;
    font-size: 18px;
  }

  .excavators__availability-wrapper {
    position: relative;
    top: -80px;
    flex-basis: auto;
    margin-bottom: 0;
    margin-left: auto;
  }

  .excavators__big-img {
    left: 0;
    bottom: 125px;
    width: 100%;
    height: 250px;
    transform: none;
  }

  .excavators__excavator-props {
    position: relative;
    top: -80px;
  }

  .excavators__prop {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .excavators__prop-value {
    margin-bottom: 2px;
    font-size: 18px;
  }

  .excavators__prop-name {
    font-size: 12px;
  }

  .excavators__trigger-wrapper {
    position: static;
    align-self: flex-end;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  .excavators__trigger-wrapper .btn {
    flex-basis: calc(50% - 5px);
    padding: 15px 10px;

    &:not(:last-child) {
      margin-right: 0;
    }
  }
}

@media (max-width: $xxs) {
  .excavators__list {
    align-self: flex-start;
    margin-top: 10px;
  }

  .excavators__excavator-title {
    margin-bottom: 0;
    font-size: 16px;
  }

  .excavators__big-img {
    bottom: 175px;
    background-position: center bottom;
  }

  .excavators__prop-value {
    font-size: 16px;
  }

  .excavators__prop-name {
    font-size: 10px;
  }

  .excavators__excavator-availability {
    width: 90px;
    min-width: 90px;
    padding: 6px;
  }

  .excavators__excavator-status {
    font-size: 9px;
  }

  .excavators__trigger-wrapper {
    margin-bottom: 105px;
  }
}
