.header {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-image: url("../img/header-img-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__wrapper {
  padding-top: 37px;
}

.header__main-heading {
  @include reset;
  max-width: 955px;
  margin: 92px auto 78px;
  font-size: 40px;
  line-height: 54px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;

  &--accent {
    font-weight: 900;
  }

  &--smaller {
    display: none;
  }
}

.header__scroll-down {
  position: absolute;
  top: 50%;
  right: calc(50% - 805px);
  padding-left: 24px;
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  transform: translateY(-50%) rotate(-90deg);

  &::before {
    @include abs-pseudo;
    top: 50%;
    left: 0;
    width: 16px;
    height: 16px;
    background-image: url("../img/icon-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    transform: translateY(-50%);
  }

  &:hover,
  &:focus {
    font-weight: 900;
  }
}

@media (max-width: $xl) {
  .header__scroll-down {
    top: auto;
    right: auto;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%) rotate(0);

    &::before {
      transform: translateY(-50%) rotate(-90deg);
    }
  }
}

@media (max-width: $lg) {
  .header__main-heading {
    margin: 85px auto 75px;
    font-size: 38px;
    line-height: 50px;
  }
}

@media (max-width: $md) {
  .header {
    padding-bottom: 30px;
    background-image: url("../img/header-img-bg-small.jpg");
  }

  .header__main-heading {
    max-width: 800px;
    margin: 70px auto 55px;
    font-size: 32px;
    line-height: 42px;
  }

  .header__scroll-down {
    display: none;
  }
}

@media (max-width: $sm) {
  .header {
    min-height: 0;
    overflow: hidden;
  }

  .header__main-heading {
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 45px;
    font-size: 21px;
    line-height: 32px;
  }
}

@media (max-width: $xs) {
  .header {
    background-image: url("../img/header-img-bg-xs.jpg");
  }

  .header__wrapper {
    padding-top: 30px;
  }

  .header__main-heading {
    @include transition(left);
    position: relative;
    left: 0;
    margin-top: 35px;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 24px;

    &--bigger {
      display: none;
    }

    &--smaller {
      display: inline;
      margin-top: 0;
    }

    &--moving {
      left: calc(-100% - 10px);
    }
  }
}
