@keyframes modalOverlayAnimation {
  from {
    background-color: rgba(0,0,0,0);
  }

  to {
    background-color: rgba(0,0,0,.3);
  }
}

@keyframes modalFormAnimation {
  from {
    left: 150%;
  }

  to {
    left: 50%;
  }
}

@keyframes modalOverlayAnimationBackwards {
  from {
    background-color: rgba(0,0,0,.3);

  }

  to {
    background-color: rgba(0,0,0,0);
  }
}

@keyframes modalFormAnimationBackwards {
  from {
    left: 50%;
  }

  to {
    left: 150%;
  }
}

.landing-modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.3);
  z-index: 20;

  &--open {
    display: block;
  }

  &--static {
    position: static;
    display: block;
    height: auto;
    background-color: transparent;
  }

  &--excavators {
    display: none;
  }
}

.landing-modal__form {
  @include dflex(nowrap, column, flex-start, center);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 650px;
  max-width: calc(100vw - 20px);
  height: auto;
  max-height: calc(100vh - 20px);
  padding: 50px;
  background-color: #fff;
  border: 2px solid $main-color-light;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(0,0,0,.1);
  transform: translate(-50%, -50%);
  overflow: hidden auto;

  &--static {
    position: static;
    transform: none;
  }

  &--excavators {
    margin: 0 auto;
  }
}

.landing-modal__close-btn {
  @include dflex(nowrap, row, center, center);
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  & svg {
    width: 100%;
    height: 100%;
  }

  & line {
    @include transition(stroke);
    stroke: $header-color-dark;
  }

  &:hover line,
  &:focus line {
    stroke: $font-color-dark;
  }
}

.landing-modal__heading {
  @include reset;
  max-width: 100%;
  margin-bottom: 30px;
  text-align: center;
  font-size: 26px;
  line-height: normal;
  font-weight: bold;
}

.landing-modal__subheading {
  @include reset;
  max-width: 100%;
  margin-bottom: 35px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.landing-modal__form-field {
  @include transition(border-color);
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;

  &:hover{
    border-color: $main-color-light;
  }

  &:focus {
    border-color: $main-color-dark;
  }
}

.landing-modal__required-info {
  @include reset;
  max-width: 100%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 14px;
  font-style: italic;
}

.landing-modal__sumbit {
  flex-shrink: 0;
  width: 100%;
  max-width: 300px;
}

@media (max-width: $lg) {
  .landing-modal__heading {
    font-size: 24px;
  }
}

@media (max-width: $md) {
  .landing-modal__form {
    padding: 35px;
  }

  .landing-modal__heading {
    margin-bottom: 20px;
    font-size: 22px;
  }

  .landing-modal__required-info {
    margin-top: 25px;
  }
}

@media (max-width: $sm) {
  .landing-modal {
    &--excavators {
      display: block;
    }

    &--animated {
      background-color: transparent;
      // animation-name: modalOverlayAnimation;
      // animation-duration: .5s;
      // animation-fill-mode: forwards;
      // animation-timing-function: linear;
      // animation-direction: normal;

      & .landing-modal__form {
        animation-name: modalFormAnimation;
        animation-duration: .5s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        animation-direction: normal;
      }
    }

    &--animated-backwards {
      background-color: transparent;
      // animation-name: modalOverlayAnimationBackwards;
      // animation-duration: .5s;
      // animation-fill-mode: forwards;
      // animation-timing-function: linear;

      & .landing-modal__form {
        animation-name: modalFormAnimationBackwards;
        animation-duration: .5s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
      }
    }
  }

  .landing-modal__form {
    border: none;
  }

  .landing-modal__close-btn {
    top: 5px;
    right: 5px;
  }

  .landing-modal__heading {
    font-size: 20px;
  }

  .landing-modal__subheading {
    font-size: 14px;
    line-height: 20px;
  }

  .landing-modal__form-footer {
    @include dflex(nowrap, row, center, center);
    width: 100%;
  }

  .landing-modal__form-footer .btn {
    width: auto;
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 1;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

@media (max-width: $xs) {
  .landing-modal__form {
    padding: 30px 15px;
  }

  .landing-modal__heading {
    font-size: 18px;
  }

  .landing-modal__required-info {
    margin: 15px 0;
  }
}
