.quiz__question {
  margin-bottom: 52px;
}

.quiz__question-heading {
  @include reset;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.quiz__question-options {
  @include dflex(nowrap, column, flex-start, flex-start);
}

.quiz__radio-label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;

  &:not(:last-of-type) {
    margin-bottom: 31px;
  }

  &::before {
    @include transition(border-color);
    @include abs-pseudo;
    top: 1px;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #FAFAFA;
    border: 1px solid #D6D6D6;
    border-radius: 50%;
  }

  &::after {
    @include abs-pseudo;
    top: 6px;
    left: 5px;
    display: none;
    width: 10px;
    height: 10px;
    background-color: #8EDDDE;
    border-radius: 50%;
  }

  &:hover,
  &:focus {
    &::before {
      border-color: $font-color-dark;
    }
  }
}

.quiz__radio-input:checked + .quiz__radio-label::after {
  display: block;
}

.quiz__navigation {
  @include dflex(nowrap, row, flex-start, center);
}

.quiz__navigation-btn {
  width: 119px;
  font-size: 13px;
  line-height: normal;
  cursor: pointer;

  &--prev {
    margin-right: 24px;
  }
  //
  // &--submit {
  //   border: 1px solid $font-color-dark;
  // }
}

.quiz .slick-dots {
  @include dflex(nowrap, row, space-between, stretch);
  @include reset;
  position: absolute;
  top: -68px;
  width: 485px;
  height: 4px;
  margin: 15px 0;
  // border: 1px solid rgba(0,0,0,.5);
  // border-radius: 5px;
  overflow: hidden;
}

.quiz .slick-dots > li {
  display: block;
  flex-grow: 1;
  flex-basis: auto;
  height: 100%;
  margin: 0;

  &::before {
    display: none;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.quiz .slick-active .quiz__status-dot,
.quiz .slick-active .quiz__status-dot--answered {
  background-color: rgba($main-color-light,.25);
}

.quiz .slick-active .quiz__status-dot--unanswered {
  background-color: rgba(#ff5e5e,.25);
}

.quiz__status-dot {
  @include transition(background-color);
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.03);
  // border: 1px solid lightgrey;

  &:hover,
  &:focus {
    background-color: rgba($main-color-light,.2);
  }

  &--answered {
    background-color: $main-color-light;
  }

  &--unanswered {
    background-color: #ff5e5e;
  }
}

@media (max-width: $sm) {
  .quiz__navigation {
    justify-content: center;
  }

  .quiz__navigation-btn {
    width: auto;
    flex-basis: 200px;
  }

  .quiz .slick-dots {
    // margin: 15px auto;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
  }
}

@media (max-width: $xs) {
  .quiz__radio-label {
    &::before {
      left: 8px;
    }

    &::after {
      left: 13px;
    }
  }

  .quiz__navigation {
    justify-content: space-between;
  }

  .quiz__navigation-btn {
    flex-basis: calc(50% - 5px);

    &--prev {
      margin-right: 0;
    }
  }
  //
  // .quiz .slick-dots {
  //   display: none;
  // }
}
