.quiz__question {
  margin-bottom: 52px;
}

.quiz__question-heading {
  @include reset;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.quiz__question-options {
  @include dflex(nowrap, column, flex-start, flex-start);
}

.quiz__radio-label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;

  &:not(:last-of-type) {
    margin-bottom: 31px;
  }

  &::before {
    @include transition(border-color);
    @include abs-pseudo;
    top: 1px;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #FAFAFA;
    border: 1px solid #D6D6D6;
    border-radius: 50%;
  }

  &::after {
    @include abs-pseudo;
    top: 6px;
    left: 5px;
    display: none;
    width: 10px;
    height: 10px;
    background-color: #8EDDDE;
    border-radius: 50%;
  }

  &:hover,
  &:focus {
    &::before {
      border-color: $font-color-dark;
    }
  }
}

.quiz__radio-input:checked + .quiz__radio-label::after {
  display: block;
}

.quiz__navigation {
  @include dflex(nowrap, row, flex-start, center);
}

.quiz__navigation-btn {
  width: 119px;
  font-size: 13px;
  line-height: normal;
  cursor: pointer;

  &--prev {
    margin-right: 24px;
  }

  &--submit {
    border: 1px solid $font-color-dark;
  }
}
