.section {
  &:not(:last-child) {
    margin-bottom: 91px;
  }
}

.section__wrapper {
  @include dflex(nowrap, row, space-between, flex-start);
}

.section__left-block {
  flex-basis: 835px;
  max-width: 100%;
  margin-right: 75px;
}

.section__right-block {
  flex-basis: 358px;
  flex-shrink: 0;
}

.section__heading {
  @include reset;
  position: relative;
  max-width: 835px;
  margin-bottom: 74px;
  font-size: 26px;
  line-height: normal;
  font-weight: bold;

  &::after {
    @include abs-pseudo;
    bottom: -25px;
    left: 0;
    width: 97px;
    height: 4px;
    background-color: $main-color-light;
  }
}

.section__subheading {
  @include reset;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 28px;
  font-weight: bold;
}

.section__text {
  @include reset;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &--note {
    font-size: 14px;
    font-style: italic;
  }
}

.section__subheading + .section__text {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.section__list,
.section ul {
  @include list-reset;
  margin: 5px 0;
}

.section__list-item,
.section ul > li {
  margin-bottom: 10px;

  &::before {
    content: "- ";
  }
}

.section__img,
.section img {
  display: block;
  width: 100%;
  height: auto;
  margin: 35px 0 30px;
}

.section__btn {
  min-width: 277px;
  max-width: 300px;
}

.section--leasing .section__btn,
.section--trade-in .section__btn {
  max-width: 277px;
}

.section__highlight {
  @include reset;
  margin-bottom: 23px;
}

.section__highlight-value {
  display: block;
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 59px;
  line-height: 63px;
  color: $font-color-dark;
}

.section__highlight-caption {
  // display: inline-block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

@media (max-width: $lg) {
  .section {
    &:not(:last-child) {
      margin-bottom: 85px;
    }
  }

  .section__heading {
    font-size: 24px;
  }

  .section__left-block {
    flex-basis: auto;
    margin-right: 50px;
  }

  .section__right-block {
    flex-basis: 320px;
  }

  .section__highlight-value {
    font-size: 52px;
    line-height: 56px;
  }
}

@media (max-width: $md) {
  .section {
    &:not(:last-child) {
      margin-bottom: 70px;
    }
  }

  .section__heading {
    margin-bottom: 60px;
    font-size: 22px;
  }

  .section__left-block {
    margin-right: 20px;
  }

  .section__right-block {
    flex-basis: 277px;
  }

  .section__highlight-value {
    font-size: 44px;
    line-height: 50px;
  }

  .section__highlight {
    margin-bottom: 16px;
  }
}

@media (max-width: $sm) {
  .section {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  .section__heading {
    font-size: 20px;
  }

  .section__wrapper {
    flex-direction: column;
  }

  .section__left-block {
    margin-right: 0;
  }

  .section__right-block {
    @include dflex(nowrap, row, space-between, center);
    flex-basis: auto;
    width: 100%;
    margin-top: 30px;
  }

  .section__highlight {
    @include dflex(nowrap, row, flex-start, center);
    margin-bottom: 0;
  }

  .section__highlight-value {
    flex-shrink: 0;
    margin-right: 10px;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 30px;
  }

  .section__highlight-caption {
    padding-right: 10px;
    font-size: 14px;
    line-height: 20px;
  }

  .section__btn,
  .section--leasing .section__btn,
  .section--trade-in .section__btn {
    flex-shrink: 0;
    width: 270px;
    min-width: 0;
    max-width: none;

    &:only-child {
      margin: 0 auto;
    }
  }
}

@media (max-width: $xs) {
  .section {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  .section__heading {
    margin-bottom: 50px;
    font-size: 18px;
  }

  .section__right-block {
    flex-direction: column;
    margin-top: 20px;
  }

  .section__highlight {
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;

    & br {
      display: none;
    }
  }

  .section__highlight-value {
    margin-right: 0;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 36px;
  }

  .section__highlight-caption {
    padding-right: 0;
    text-align: center;
  }

  .section__btn,
  .section--leasing .section__btn,
  .section--trade-in .section__btn {
    width: 100%;
  }
}
